/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.change {
  margin-top: 20px;
  color: dodgerblue;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 20px;
  border-radius: 10px;
}
